body {

	margin: 0;
	font-family: 'Open Sans';
	background-color: #353839;

}

header {

	margin: 80px auto;
	margin-bottom: 60px;
	margin-top: 0px;
	text-align: center;
	background-color: black;

}

.logowrapper {

	height:200px;
	width:200px;
	display:inline-block;
	margin: 50px 0;
	padding: 50px;
	/*border: 2px solid black;*/
	background-color: white;
	border-radius: 50%;

}

.logowrapper img {

	width: 200px;
	margin-top: 20px;

}

.mainbody {

	text-align: center;
	color: white;

}

.mainbody h2 {

	font-size: 34px;
	margin-bottom: 10px;
}

.mainbody input[name=Submit] {

	margin: 90px;
}